{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}

<div class="container col-9">
    {% include 'parciais/_error_forms.html' %}
    <form method="post" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <table class="table table-django text-center">
            {{ form }}
        </table>
        <div class="d-flex justify-content-center mt-2">
            <div class="me-2">
                <input type="submit" class="btn btn-success" value="Enviar Cadastro">    
            </div>
            <div class="me-2">
                <a href="{% url 'login' %}" class="btn btn-primary">Fazer Login</a>    
            </div>
            <div>
                <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>    
            </div>
        </div>
    </form>
    
</div>
{% endblock %}