{% load static %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'static/js/messages.js' %}"></script>
<script src="{% static 'static/js/viacep.js' %}"></script>