{% for message in messages %}
<div class="alert toast-container position-absolute bottom-0 end-0 hide">
{% if 'success' in message.tags %}
  <div class="toast bg-success text-white show p-2 mt-3" role="alert">
{% elif 'danger' in message.tags %}
  <div class="toast bg-danger text-white show p-2 mt-3" role="alert">
{% elif 'warning' in message.tags %}
  <div class="toast bg-warning text-white show p-2 mt-3" role="alert">
{% elif 'info' in message.tags %}
  <div class="toast bg-info text-white show p-2 mt-3" role="alert">
{% endif %}
    <div class="d-flex">
      <div class="toast-body text-center" style="width: 90%;">
        <strong id="message">{{ message }}</strong>
        {% if 'success' in message.tags %}
          <div class="progress" style="height: 2px;">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        {% elif 'danger' in message.tags %}
          <div class="progress" style="height: 2px;">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        {% elif 'warning' in message.tags %}
          <div class="progress" style="height: 2px;">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        {% elif 'info' in message.tags %}
          <div class="progress" style="height: 2px;">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        {% endif %}
      </div>
      <button type="button" class="btn-close position-relative m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endfor %}