{% extends 'base.html' %}

{% block conteudo %}
<h1 class="mt-5 text-center">Minha agenda</h1>

<table class="table table-primary text-center">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for contato in contatos %}
    <tr>
      <td>
        <a href="{% url 'visualizar_contato' contato.id %}">{{ contato.nome }}</a>
      </td>
      <td>{{ contato.sobrenome }}</td>
      <td>{{ contato.telefone }}</td>
      <td>{{ contato.categoria }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}